{% extends 'base.html' %}
{% block body %}
<h2>User {{ user.id }}</h2>
<ul class="list-group mb-3">
  <li class="list-group-item"><strong>Telegram ID:</strong> {{ user.tg_id }}</li>
  <li class="list-group-item"><strong>Username:</strong> {{ user.username or '' }}</li>
  <li class="list-group-item"><strong>Balance:</strong> {{ '%.2f'|format(user.balance) }}</li>
  <li class="list-group-item"><strong>Created:</strong> {{ user.created }}</li>
</ul>
<h3>Configs</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Server</th>
      <th>Suspended</th>
    </tr>
  </thead>
  <tbody>
    {% for c in configs %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.server_id }}</td>
      <td>{{ 'Yes' if c.suspended else 'No' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
